
#gameButton {
    background-color: blue;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    position: absolute;
}

#gameButton:hover {
    background-color: green;
}


