.header {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}
.logo {
    width: 300px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.logo img {
    width: 100%;
    height: auto;
}
.title {
    padding-top: 20px;
}
.title h1 {
    margin: 0;
    color: black;
    font-size: 32px;
}
.content {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
.image {
    float: left;
    margin-right: 10px;
}
#image {
    width: 250px;
}
.main {
    line-height: 1.4;
}
.head {
    text-align: center;
    margin: 100px ;
    color: black;
    clear: both;
}
.advertisement {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 150px;
    color: black;
    background-color: gray;
    border-color: black;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border-width: 2px;
}